<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/latest-posts">Blog</a></li>
        <li><a href="/create-blog">Create Blog</a></li>
        <% if (user) { %>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav> 